body {
  color: #333;
}

.main-container {
  margin: 0 auto;
  width: 433px;
}

table {
  border: 2px solid #000;
  border-collapse: collapse;
}

table td {
  border: 1px solid #000;
  width: 40px;
  height: 40px;
}

.stats {
  width: 433px
}

.stat {
  float: left;
  text-align: center;
  width: 143px;
}

.btn-container {
  float: left;
  clear: both;
  display: block;
  margin: 0 auto;
  width: 433px;
}

h1, h2 {
  text-align: center;
}

p.btn {
  text-align: center;
}

button {
  background-color: #ccc;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 3px;
  font-size: 20px;
  padding: 12px 20px;
}

button:hover {
  background-color: #ddd;
  color: #333;
  cursor: pointer;
  transition: .3s;
}

button:focus {
  display: none;
}

.cellClicked {
background-color: red;
}
